<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">
                <amp-img src="{{ site.baseurl }}/assets/images/avatar.png" alt="oscar-profile" height="80" width="80" id="avatar" class="2x"></amp-img>
            </a>
        {% else %}
            <amp-img src="{{ site.baseurl }}/assets/images/avatar.png" alt="oscar-profile" id="avatar" class="2x"></amp-img>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
        </header>
    </section>
</div>