/* Base */
html, body { height: 100%; }

body {
  font:16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 30px;
  letter-spacing: -1px;
  color: #222;
  font-weight: bold;
}

h2 {
  font: italic 19px/1.3em Georgia,serif;
  color: #bbb;
}

.profile #wrapper {
  padding: 100px 40px 0px;
  max-width: 600px;
  margin: 0 auto;
}

.profile #header {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
}

.profile #avatar {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile h1 {
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 20px;
  color: #222;
}

.profile h2 {
  font-size: 20px;
    font-weight: 300;
    color: #aaa;
    margin-top: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;

}

nav.main-nav {
  padding: 20px 20px 0;

  /*max-width: 600px;*/
  /*width:100%;*/
  background: #fff;
  background: rgba(255,255,255,.90);
  margin: 0 auto;
  text-align: right;
  /*position: fixed;*/
  z-index: 100;
}

nav.main-nav a {
  top: 8px;
  right: 6px;
  padding: 8px 12px;
  color: #5badf0;
  font-size: 13px;
  /*font-weight: bold;*/
  line-height: 1.35;
  border-radius: 3px;

}
nav.main-nav a.cta {
  background: #5badf0;
  color: #fff;
  margin-left: 12px;
}

#wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 40px 100px 40px;
}

#wrapper.home {
  max-width: 600px;
  margin: 0 auto;
  padding: 0px 40px 20px 40px;
}

.home #avatar {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}